
.container {
    width: 400px;
    margin: 0 auto;
  }
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  button {
    margin-top: 10px;
  }
  #dicas-list {
    margin-top: 20px;
    padding-left: 0;
  }

  h1 {
    color: rgb(232, 238, 232);
  }

  label {
    color: rgb(232, 238, 232);
    margin-top: 3%;
  }

  h2 {
  color: rgb(232, 238, 232);

}


  .dica h3 {
    margin-top: 0;
  }

/* Estilos para as cores dos materiais */
.papel {
    color: blue;
  }
  
  .plastico {
    color: red;
  }
  
  .vidro {
    color: green;
  }
  
  .metal {
    color: yellow;
  }
  
  .organico {
    color: brown;
  }